<!DOCTYPE html>
<!-- Hacemos referencia a la dependencia de Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista con SpringBoot</title>
<!-- CDN de BootStrap para poder usarlo -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<!-- Contenedor que contiene la tabla -->
	<div class="container mt-4">
		<h1>Completa todos los campos</h1>
		<a th:href="@{/new}" class="btn btn-primary">ATRAS</a>
	</div>
</body>
</html>